mixin card(title, subtitles, price, info, list, action )
  .card
    if title
      h3.card-title=title
    
    if subtitles
      ul.card-list-subtitle
        each sub in subtitles
          li=sub
    
    if price
      .card-price
        +widget-price(price[0], price[1], price[2], price[3])
    
    if info
      .card-info=info
    
    if list
      ul.card-list
        each item in list
          li=item
    if action
      a(href=action[0]).card-action=action[1]
