//- //- mixin inputText(config)
//- //-   - data = setPropData(config)
//- //-   input(
//- //-     type="text",
//- //-     class="#{data.class} form-control",
//- //-     value="#{data.value}",
//- //-     placeholder= '#{data.placeholder}', 
//- //-     ng-model=config.ngModel,
//- //-     ng-minlenght=config.ngMinlenght, 
//- //-     ng-maxlenght=config.ngMaxlenght, 

//- //- - var setPropData = function(config) {
//- //- -   var config = config || {};
//- //- -   var data = {};
//- //- //- common html5 attributes
//- //- -   data.value = (config.value) ?  config.value :  '';
//- //- -   data.placeholder = (config.placeholder) ?  config.placeholder : '';
//- //- -   data.class = (config.class) ? config.class : '';
//- //- -   data.name = (config.name) ? config.name : '';



//- button: A push button with no default behavior.
//- checkbox: A check box. You must use the value attribute to define the value submitted by this item. Use the checked attribute to indicate whether this item is selected. You can also use the indeterminate attribute to indicate that the checkbox is in an indeterminate state (on most platforms, this draws a horizontal line across the checkbox).
//- color: HTML5 A control for specifying a color. A color picker's UI has no required features other than accepting simple colors as text (more info).
//- date: HTML5 A control for entering a date (year, month, and day, with no time).
//- datetime: HTML5 A control for entering a date and time (hour, minute, second, and fraction of a second) based on UTC time zone.
//- datetime-local: HTML5 A control for entering a date and time, with no time zone.
//- email: HTML5 A field for editing an e-mail address. The input value is validated to contain either the empty string or a single valid e-mail address before submitting. The :valid and :invalid CSS pseudo-classes are applied as appropriate.
//- file: A control that lets the user select a file. Use the accept attribute to define the types of files that the control can select.
//- hidden: A control that is not displayed, but whose value is submitted to the server.
//- image: A graphical submit button. You must use the src attribute to define the source of the image and the alt attribute to define alternative text. You can use the height and width attributes to define the size of the image in pixels.
//- month: HTML5 A control for entering a month and year, with no time zone.
//- number: HTML5 A control for entering a floating point number.
//- password: A single-line text field whose value is obscured. Use the maxlength attribute to specify the maximum length of the value that can be entered.
//- radio: A radio button. You must use the value attribute to define the value submitted by this item. Use the checked attribute to indicate whether this item is selected by default. Radio buttons that have the same value for the name attribute are in the same "radio button group"; only one radio button in a group can be selected at one time.
//- range: HTML5 A control for entering a number whose exact value is not important. This type control uses the following default values if the corresponding attributes are not specified:
//- min: 0
//- max: 100
//- value: min + (max-min)/2, or min if max is less than min
//- step: 1
//- reset: A button that resets the contents of the form to default values.
//- search: HTML5 A single-line text field for entering search strings; line-breaks are automatically removed from the input value.
//- submit: A button that submits the form.
//- tel: HTML5 A control for entering a telephone number; line-breaks are automatically removed from the input value, but no other syntax is enforced. You can use attributes such as pattern and maxlength to restrict values entered in the control. The :valid and :invalid CSS pseudo-classes are applied as appropriate.
//- text: A single-line text field; line-breaks are automatically removed from the input value.
//- time: HTML5 A control for entering a time value with no time zone.
//- url: HTML5 A field for editing a URL. The input value is validated to contain either the empty string or a valid absolute URL before submitting. Line-breaks and leading or trailing whitespace are automatically removed from the input value. You can use attributes such as pattern and maxlength to restrict values entered in the control. The :valid and :invalid CSS pseudo-classes are applied as appropriate.
//- week: HTML5 A control for entering a date consisting of a week-year number and a week number with no time zone.

//- accept
//- If the value of the type attribute is file, this attribute indicates the types of files that the server accepts; otherwise it is ignored. The value must be a comma-separated list of unique content type specifiers:
//- A file extension starting with the STOP character (U+002E). (E.g.: ".jpg,.png,.doc")
//- A valid MIME type with no extensions
//- audio/* representing sound files HTML5
//- video/* representing video files HTML5
//- image/* representing image files HTML5

//- autocomplete
//-   off
//-   on

//- maxlength
//- If the value of the type attribute is text, email, search, password, tel, or url, this attribute specifies the maximum number of characters (in Unicode code points) that the user can enter; for other control types, it is ignored. It can exceed the value of the size attribute. If it is not specified, the user can enter an unlimited number of characters. Specifying a negative number results in the default behavior; that is, the user can enter an unlimited number of characters. The constraint is evaluated only when the value of the attribute has been changed.


//- type
//- accept
//- autocomplete
//- autofocus
//- checked
//- disabled
//- max
//- maxlength
//- min
//- minlength
//- multiple
//- name
//- pattern
//- placeholder
//- readonly
//- size
//- step
//- tabindex
//- value  

mixin radio(config)
  input(
    type="radio"
    name="#{config.name"
    class="#{config.radio}"
    value="#{config.class}"
    placeholder="#{config.value}"
  )
