
//- Widget to insert price tag
mixin widget-price(prefix, price, sufix, size)
  - var klass = 'price-widget' + (size === 'small' ? ' small' : '')
  div(class=klass)
    if prefix
      span.price-prefix= prefix
    span.price-value= price.split(',')[0]
    span.price-cents= ','+ price.split(',')[1]
    if sufix
    span.price-sufix= sufix
