include ../_partials/header.jade

body(itemtype="http://schema.org/WebPage").product
  
  +buildPlan()
  
  +menu()

  +hero()

  +header()

  main

    .cards
      each val, index in ['zero', 'one', 'two']
        oi-card
          a(href="#").oi-card
            .oi-card_header
              h2.oi-card_title Start HD
              ul.oi-card_subtitle
                li 119 Canais
                li 20 HD
            .oi-card_main
              oi-price
                .oi-price
                  .oi-price_prefix A partir de 
                  .oi-price_value
                    span.oi-price_value_integer 59
                    span.oi-price_value_cents ,90
                  .oi-price_suffix
                    span /
                    |Mês 
              .oi-card_list
                h5.oi-card_list_title Você ainda pode adicionar
                ul.oi-card_list_items
                  li 1 Ponto Adicional
                  li HBO, Telecine, Premiere e mais
            .oi-card_footer
              button.oi-card_action Conheça o Start HD
    
    .oi-channels
      
      nav.oi-channels_tabs
        ul
          li
            a(href="#") Start HD
          li
            a.active(href="#") Mix HD
          li
            a(href="#") Total HD

      .oi-channels_container

        header.oi-channels_header
          .oi-channels_header_list
            ul
              each title in channelsgroup.header.title
                li=title
          .oi-channels_header_client-type
            a(href="#").oi-channels_header_client-type-trigger
              span Valor para clientes 
              span
                |de Telefone Fixo da Oi
                include ../../assets/images/icons/arrow.svg
            .oi-channels_header_client-type_dropdow
              ul
                li 
                  a(href="#").active
                    include ../../assets/images/icons/radio-check.svg
                    span 
                      div Clientes de Telefone Fixo da Oi 
                    oi-price
                      .oi-price.oi-price--small
                        .oi-price_prefix A partir de 
                        .oi-price_value
                          span.oi-price_value_integer 79
                          span.oi-price_value_cents ,90
                        .oi-price_suffix
                          span /
                          |Mês 
                li 
                  a(href="#")
                    include ../../assets/images/icons/radio-check.svg
                    span 
                      div Não Clientes de Telefone Fixo da Oi
                    oi-price
                      .oi-price.oi-price--small
                        .oi-price_prefix A partir de 
                        .oi-price_value
                          span.oi-price_value_integer 59
                          span.oi-price_value_cents ,90
                        .oi-price_suffix
                          span /
                          |Mês 
          .oi-channels_header_price
            oi-price
              .oi-price.oi-price--small
                .oi-price_prefix A partir de 
                .oi-price_value
                  span.oi-price_value_integer 79
                  span.oi-price_value_cents ,90
                .oi-price_suffix
                  span /
                  |Mês 
          .oi-channels_header_action
            a(href="") Peça Já
        
        .oi-channels_lists-container

          .oi-channels-lists
            each group in channelsgroup.tv
              .oi-channels-lists_list-tv
                h4.oi-channels-lists_list-tv_title=group.label
                  span= ' [' + group.channels.length + ']'
                .oi-channels-lists_list-tv_container
                  ul
                    each channel in group.channels
                      li
                        a(href=channel.slug class=channel.color)
                          .oi-channels-lists_list-tv_logo.b-lazy(data-src="/assets/images/logos/height40/"+channel.img+".png")
                          .oi-channels-lists_list-tv_name
                            div=channel.name
          
            .oi-channels-lists_list-audio
              h5.oi-channels-lists_list-audio_title=channelsgroup.audio.label + ' ['+ channelsgroup.audio.channels.length + ']'
              .oi-channels-lists_list-audio_container
                ul
                  each audio in channelsgroup.audio.channels
                    li=audio
                button(type="button") Ver todos

            .oi-channels-lists_list-audio
              h5.oi-channels-lists_list-audio_title=channelsgroup.radio.label + ' ['+ channelsgroup.radio.channels.length + ']'
              .oi-channels-lists_list-audio_container
                ul
                  each audio in channelsgroup.radio.channels
                    li=audio
                button(type="button") Ver todos
            
          .oi-channels-addons
            h4.oi-channels-addons_title=channelsgroup.addons.title
            
            .oi-channels-addons_container
              ul.oi-channels-addons_list

                li.oi-channels-addons_item.only-l(aria-live="assertive" aria-relevant="text")
                  h5.oi-channels-addons_item_logo=channelsgroup.addons.spots.title
                  .oi-channels-addons_item_desc=channelsgroup.addons.spots.desc
                  .oi-channels-addons_item_spots
                    - var count = 1
                    while count <= channelsgroup.addons.spots.quant
                      - selected = (count === 1 ? ' added': '' )
                      a(href="#", class="spot" + selected, style="width:" + ( 100 / channelsgroup.addons.spots.quant ) + "%" )=count++
                
                li.oi-channels-addons_item.only-l(aria-live="assertive" aria-relevant="text")
                  h5.oi-channels-addons_item_logo=channelsgroup.addons.recorder.title
                  .oi-channels-addons_item_desc
                    span=channelsgroup.addons.recorder.desc
                    span=channelsgroup.addons.recorder.info
                  .oi-channels-addons_item_actions
                    button.add(type="button" role="button")
                      include ../../assets/images/icons/check.svg
                      span Adicionar
                    button.remove(type="button" role="button") Remover

                each channel in channelsgroup.addons.channels.itens
                  li.oi-channels-addons_item(aria-live="assertive" aria-relevant="text")
                    .oi-channels-addons_item_logo.b-lazy(data-src="/assets/images/logos/height40/"+channel.img+".png")
                    .oi-channels-addons_item_desc
                      each info in channel.desc
                        span!=info
                    .oi-channels-addons_item_actions
                      button.add(type="button" role="button")
                        include ../../assets/images/icons/check.svg
                        span=channelsgroup.addons.channels.actions.add
                      button.remove(type="button" role="button")=channelsgroup.addons.channels.actions.remove
                  
        .oi-channels_search-call
          a(href="#")
            include ../../assets/images/icons/lupa.svg
            |Busque um canal específico

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
    


          
  //-       .channels-area-footer
  //-         .channels-help
  //-           .channels-search
  //-             a(hre="#") 
  //-               include ../../assets/images/icons/lupa.svg
  //-               |Busque um canal específico
  //-           .channels-faq
  //-             |Alguma dúvida? 
  //-             a(href="#") Entenda o plano.
          
  //-         .img
  //-           //- img.channels-img-bottom(src="/assets/images/demo/product-bottom.jpg")
  //-           .imgc(style="background-image: url('/assets/images/demo/product-bottom.jpg')")

  //-         div.channels-detail-area
  //-           each detail in channelsgroup.details
  //-             div.channel-detail
  //-               h5=detail.title
  //-               ul
  //-                 each item in detail.itens
  //-                   li(class= item.img ? "has-image": "")
  //-                     if item.img
  //-                       span.detail-img
  //-                         //- img(src=item.img)
  //-                     span.detail-title=item.title
  //-                       if item.tooltip && item.tooltip.length > 0
  //-                         span.detail-tooltip=item.tooltip
  //-                     span.detail-desc=item.desc
  //-                     if item.actions
  //-                       ul
  //-                         each action in item.actions
  //-                           li
  //-                             a(href=action.url)=action.label
          
  //-         div.call-help
  //-           |Em dúvida? 
  //-           a(href="") Compre com a ajuda de um especialista.

  //-   +footer(footer)

  //- +modal()

  //- #text1(role="alert" aria-live="assertive")

  //- //- script(src='/assets/scripts/main-0.0.0.js')
  
