include ../_partials/header.jade

body.product
  section.container

  .simule Simule

  .hero
    img(src="/assets/images/demo/product-hero.jpg")
  
  .menu Menu
  
  header
    h1 TV HD

  .cards

    +card(
      'Start HD', 
      ['111 Canais', '12 HD' ], 
      [null, '39,90', '/Mês'], 
      'Preço para cliente Oi Banda Larga. Não cliente: R$ 49,90', 
      ['Instalação Gráris'], 
      ['#link', 'Conheça o Start HD']
    )

    +card(
      'Mix HD', 
      ['158 Canais', '32 HD' ], 
      [null, '69,90', '/Mês'], 
      'Preço para cliente Oi Banda Larga. Não cliente: R$ 79,90', 
      ['Instalação Gráris', 'Ponto adicional em HD', 'Pay Per View [Aluguel de Filmes]'], 
      ['#link', 'Conheça o Mix HD']
    )

    +card(
      'Total HD', 
      ['178 Canais', '42 HD' ], 
      [null, '89,90', '/Mês'], 
      'Preço para cliente Oi Banda Larga. Não cliente: R$ 99,90', 
      ['Instalação Gráris', 'Ponto adicional em HD', 'Pay Per View [Aluguel de Filmes]', 'Gravador Digital Opcional'], 
      ['#link', 'Conheça o Total HD']
    )
  
  .channels-area
    
    nav.channels-choose
      ul
        li
          a(href="#") Start HD
        li
          a.active(href="#") Mix HD
        li
          a(href="#") Total HD

    nav.channels-header
      ul
        li 158 Canais
        li 32 em HD
    
    .channels-list-area

      .channels-container
        .channels-lists
          each group in channelsgroup.tv
            .channels-pack
              h4=group.label
              ul
                each channel in group.channels
                  li
                    img(src="/assets/images/logos/" + channel.img )
                    span=channel.name

    .channels-audio
      h5=channelsgroup.audio.label + '('+ channelsgroup.audio.channels.length + ')'
      ul
        each audio in channelsgroup.audio.channels
          li=audio

    .channels-radio
      h5=channelsgroup.radio.label + '('+ channelsgroup.radio.channels.length + ')'
      ul
        each radio in channelsgroup.radio.channels
          li=radio

              

  script(src="/assets/scripts/main.js")
