include ../_partials/header.jade

body(itemtype="http://schema.org/WebPage").product
  
  +buildPlan()
  
  +menu()

  +hero()

  +header()

  main

    .cards
      each val, index in ['zero', 'one', 'two']
        oi-card
          a(href="#").oi-card
            .oi-card_header
              h2.oi-card_title Start HD
              ul.oi-card_subtitle
                li 119 Canais
                li 20 HD
            .oi-card_main
              oi-price
                .oi-price
                  .oi-price_prefix A partir de 
                  .oi-price_value
                    span.oi-price_value_integer 59
                    span.oi-price_value_cents ,90
                  .oi-price_suffix
                    span /
                    |Mês 
              .oi-card_list
                h5.oi-card_list_title Você ainda pode adicionar
                ul.oi-card_list_items
                  li 1 Ponto Adicional
                  li HBO, Telecine, Premiere e mais
            .oi-card_footer
              button.oi-card_action Conheça o Start HD
    
    .oi-channels
      
      nav.oi-channels_tabs
        ul
          li
            a(href="#") Start HD
          li
            a.active(href="#") Mix HD
          li
            a(href="#") Total HD

      .oi-channels_container

        header.oi-channels_header
          .oi-channels_header_list
            ul
              each title in channelsgroup.header.title
                li=title
          .oi-channels_header_client-type
            a(href="#").oi-channels_header_client-type-trigger
              span Valor para clientes 
              span
                |de Telefone Fixo da Oi
                include ../../assets/images/icons/arrow.svg
            .oi-channels_header_client-type_dropdow
              ul
                li 
                  a(href="#").active
                    include ../../assets/images/icons/radio-check.svg
                    span 
                      div Clientes de Telefone Fixo da Oi 
                    oi-price
                      .oi-price.oi-price--small
                        .oi-price_prefix A partir de 
                        .oi-price_value
                          span.oi-price_value_integer 79
                          span.oi-price_value_cents ,90
                        .oi-price_suffix
                          span /
                          |Mês 
                li 
                  a(href="#")
                    include ../../assets/images/icons/radio-check.svg
                    span 
                      div Não Clientes de Telefone Fixo da Oi
                    oi-price
                      .oi-price.oi-price--small
                        .oi-price_prefix A partir de 
                        .oi-price_value
                          span.oi-price_value_integer 59
                          span.oi-price_value_cents ,90
                        .oi-price_suffix
                          span /
                          |Mês 
          .oi-channels_header_price
            oi-price
              .oi-price.oi-price--small
                .oi-price_prefix A partir de 
                .oi-price_value
                  span.oi-price_value_integer 79
                  span.oi-price_value_cents ,90
                .oi-price_suffix
                  span /
                  |Mês 
          .oi-channels_header_action
            a(href="") Peça Já
        
        .oi-channels_lists-container

          .oi-channels-lists
            each group in channelsgroup.tv
              .oi-channels-lists_list-tv
                h4.oi-channels-lists_list-tv_title=group.label
                  span= ' [' + group.channels.length + ']'
                .oi-channels-lists_list-tv_container
                  ul
                    each channel in group.channels
                      li
                        a(href=channel.slug class=channel.color)
                          .oi-channels-lists_list-tv_logo.b-lazy(data-src="/assets/images/logos/height40/"+channel.img+".png")
                          .oi-channels-lists_list-tv_name
                            div=channel.name
          
            .oi-channels-lists_list-audio
              h5.oi-channels-lists_list-audio_title=channelsgroup.audio.label + ' ['+ channelsgroup.audio.channels.length + ']'
              .oi-channels-lists_list-audio_container
                ul
                  each audio in channelsgroup.audio.channels
                    li=audio
                button(type="button") Ver todos

            .oi-channels-lists_list-audio
              h5.oi-channels-lists_list-audio_title=channelsgroup.radio.label + ' ['+ channelsgroup.radio.channels.length + ']'
              .oi-channels-lists_list-audio_container
                ul
                  each audio in channelsgroup.radio.channels
                    li=audio
                button(type="button") Ver todos
            
          .oi-channels-addons
            h4.oi-channels-addons_title=channelsgroup.addons.title
            
            .oi-channels-addons_container
              ul.oi-channels-addons_list

                li.oi-channels-addons_item.only-l(aria-live="assertive" aria-relevant="text")
                  h5.oi-channels-addons_item_logo=channelsgroup.addons.spots.title
                  .oi-channels-addons_item_desc=channelsgroup.addons.spots.desc
                  .oi-channels-addons_item_spots
                    - var count = 1
                    while count <= channelsgroup.addons.spots.quant
                      - selected = (count === 1 ? ' added': '' )
                      a(href="#", class="spot" + selected, style="width:" + ( 100 / channelsgroup.addons.spots.quant ) + "%" )=count++
                
                li.oi-channels-addons_item.only-l(aria-live="assertive" aria-relevant="text")
                  h5.oi-channels-addons_item_logo=channelsgroup.addons.recorder.title
                  .oi-channels-addons_item_desc
                    span=channelsgroup.addons.recorder.desc
                    span=channelsgroup.addons.recorder.info
                  .oi-channels-addons_item_actions
                    button.add(type="button" role="button")
                      include ../../assets/images/icons/check.svg
                      span Adicionar
                    button.remove(type="button" role="button") Remover

                each channel in channelsgroup.addons.channels.itens
                  li.oi-channels-addons_item(aria-live="assertive" aria-relevant="text")
                    a.oi-channels-addons_item_link(href=channel.img)
                      .oi-channels-addons_item_logo.b-lazy(data-src="/assets/images/logos/height40/"+channel.img+".png")
                      .oi-channels-addons_item_desc
                        each info in channel.desc
                          span!=info
                    .oi-channels-addons_item_actions
                      button.add(type="button" role="button")
                        include ../../assets/images/icons/check.svg
                        span=channelsgroup.addons.channels.actions.add
                      button.remove(type="button" role="button")=channelsgroup.addons.channels.actions.remove
                  
        channel-search
        //- .oi-channels_search-call
        //-   a(href="#")
        //-     include ../../assets/images/icons/lupa.svg
        //-     |Busque um canal específico
        
        .oi-channels_footer-banner
          .oi-channels_footer-banner--small.b-lazy(data-src="/assets/images/demo/oi-channels_footer-banner.jpg" style="background-position: 70px 100px;")
          .oi-channels_footer-banner--large.b-lazy(data-src="/assets/images/demo/oi-channels_footer-banner.jpg" style="background-position: 830px 40px;")

        .oi-channels_footer-item
          .oi-channels_footer-item_title-area
            h3.oi-channels_footer-item_title-area_title Está incluso no plano
          .oi-channels_footer-item_content-area
            .oi-channels_footer-item_content-area_desc
              dl
                dt 159 Canais
                dd 42 HD, 50 SD e 66 áudio. 
                  a(href="#") Imprima a grade de canais
                dt 1º Ponto de TV HD
                dd Receptor com controle remoto.
                  a(href="#") Veja a lista de receptores
                dt 1 Antena Digital  
                dd Com as dimensões de 32 x 57 x 42 cm.
            .oi-channels_footer-item_content-area_movies
              h4.list-title Você pode assistir
              .list-container
                ul
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/1.jpg")
                    .name Life
                    .channel Animal Planet
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/2.jpg")
                    .name Bob Esponja
                    .channel Nick Jr.
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/3.jpg")
                    .name Vikings
                    .channel History Channel
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/4.jpg")
                    .name Animals Gone Wild
                    .channel NatGeo Wild
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/5.jpg")
                    .name Dr House
                    .channel Universal Channel
                    .avaliable Disponível no Total HD
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/6.jpg")
                    .name Liga dos Campeões
                    .channel ESPN
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/7.jpg")
                    .name Arrow
                    .channel Warner Channel
                  li
                    .poster.b-lazy(data-src="/assets/images/demo/shows/8.jpg")
                    .name Phineas e Ferb
                    .channel Disney XD
                    .avaliable Disponível no Total HD

        .oi-channels_footer-item
          .oi-channels_footer-item_title-area
            h3.oi-channels_footer-item_title-area_title Filmes para alugar
            .oi-channels_footer-item_title-area_desc
              p Por R$ 10 cada filme. 
              p 
                span VOD: Assista quando quiser. 
                span Oi Filmes: Horários fixos.
          .oi-channels_footer-item_content-area
            .oi-channels_footer-item_content-area_desc
            .oi-channels_footer-item_content-area_movies
              .list-container.rent-list
                ul
                  li
                    a(href="universidade-monstro")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/9.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Universidade Monstro
                  li
                    a(href="star-trek")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/10.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Stat Trek
                  li
                    a(href="as-aventuras-de-pi")                  
                      .poster.b-lazy(data-src="/assets/images/demo/shows/11.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel As Aventuras de PI
                  li
                    a(href="rush")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/12.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Rush
                  li
                    a(href="o-lobo-de-wall-street")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/13.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel O Lobo de Wall Street
                  li
                    a(href="detona-ralph")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/14.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Detona Ralph
                  li
                    a(href="batman")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/15.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Batman: O Cavaleiro das Trevas
                  li
                    a(href="tron-legacy")
                      .poster.b-lazy(data-src="/assets/images/demo/shows/16.jpg")
                        .dist
                          span.vod VOD
                          span.oi-filmes Oi Filmes
                      .channel Tron Legacy

        .oi-channels_footer-item
          .oi-channels_footer-item_title-area
            h3.oi-channels_footer-item_title-area_title Adicione o Gravador
            .oi-channels_footer-item_title-area_desc
              p Por R$ 20/mês
          .oi-channels_footer-item_content-area
            .oi-channels_footer-item_content-area_desc
              .list-bullets.img-recorder.b-lazy(data-src="/assets/images/layout/tv-hd-gravador.jpg")
                ul
                  li 
                    span Acesso aos filmes do Video on Demand (VOD)
                  li 
                    span Reveja, pause e volte quando quiser
                  li 
                    span Guarde até 250 filmes no HD
                  li 
                    span Grave 2 canais ao mesmo tempo
                  li 
                    span Pause ao vivo
                a(href="#") Adicione o Gravador Digital

        .oi-channels_footer-item
          .oi-channels_footer-item_title-area
            h3.oi-channels_footer-item_title-area_title Condições de compra
            .oi-channels_footer-item_title-area_desc
              p Por R$ 20/mês
          .oi-channels_footer-item_content-area
            .oi-channels_footer-item_content-area_desc
              dl
                dt Instalação
                dd Gratuita. 7 dias úteis. De seg. à sáb. 8h às 20h.
                  a(href="#") Acompanhe a instalação
                dt Pagamento
                dd Débito Automático ou na conta do Fixo (desconto de R$ 10).
                dt Fidelização
                dd 12 meses (desconto de R$ 30). No período, multa de R$ 280.
                dt Descontos
                dd R$ 10 para quem já é cliente de Telefone Fixo.
                dt Cobertura
                dd 
                  a(href="#") Consulte a disponibilidade
                dt Validade da Oferta
                dd 01/01/2015 à 30/03/2015.
                dt Informações Legais 
                dd 
                  a#openContract(href="#") Contrato e Regras da Oferta

                  br
                  a(href="#") Lista de Todos os Planos
                dt Outros Planos
                dd 
                  a(href="#") TV + Internet via Fibra
                  br
                  a(href="#") Antena Oi TV Livre HD
                  br
                  a(href="#") Plano Básico

        .oi-channels_footer-item
          .oi-channels_footer-item_title-area
            h3.oi-channels_footer-item_title-area_title ajuda para comprar?
          .oi-channels_footer-item_content-area
            .oi-channels_footer-item_content-area_desc
              a.button(href="#") Compre com um especialista

    nav.oi-channels_footer_faq-menu
      ul
        li.faq-menu_icon
          a(href="#") 
            include ../../assets/images/icons/tv.svg
            span Já é cliente Oi TV HD?
        li
          a(href="#") 2ª via
        li
          a(href="#") Altere seu plano
        li
          a(href="#") Entenda a sua conta
        li
          a(href="#") Fatura Atrasada
        li
          a(href="#") Sem sinal na TV
        li
          a(href="#") TV Bloqueada
        li
          a(href="#") Perguntas frequentes

    
    +footer(footer)

  channel-modal
  contract-rules
  movie-rent
  
  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
    


          


  //- +modal()

  //- #text1(role="alert" aria-live="assertive")

  //- //- script(src='/assets/scripts/main-0.0.0.js')
  
