mixin cardsTVHD()
  .cards
    .cards_container
      .cards_container_box
        each val, index in ['start', 'mix', 'total']
          oi-card
            a(href="#" data-slug=val class="oi-card "+ (val == 'mix' ? 'active': '') )
              .oi-card_header
                h2.oi-card_header_title=val+ ' HD'
                h5.oi-card_header_subtitle
                  | 119 Canais 
                  i.heading-bullet
                  |  20 HD
                i.oi-card_header_line
              .oi-card_content
                .oi-card_content_price
                  oi-price(id="card-price-"+val)
                .oi-card_content_list
                  h5.oi-card_content_list_title Você ainda pode adicionar
                  ul.oi-card_content_list_items
                    - if (index == 0)
                      li Ponto extra em HD
                    - else if (index == 1)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital
                    - else if (index == 2)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital com VOD
                .oi-card_content_footer
                  button.oi-card_content_footer_action Conheça o Start HD


mixin cardsInternet()
  .cards
    .cards_container
      .cards_container_box
        each val, index in ['casa', 'movel']
          oi-card
            a(href="#" data-slug=val class="oi-card "+ (val == 'mix' ? 'active': '') )
              .oi-card_header
                h2.oi-card_header_title=val
                h5.oi-card_header_subtitle
                  | 119 Canais 
                  i.heading-bullet
                  |  20 HD
                i.oi-card_header_line
              .oi-card_content
                .oi-card_content_price
                  oi-price(id="card-price-"+val)
                .oi-card_content_list
                  h5.oi-card_content_list_title Você ainda pode adicionar
                  ul.oi-card_content_list_items
                    - if (index == 0)
                      li Ponto extra em HD
                    - else if (index == 1)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital
                    - else if (index == 2)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital com VOD
                .oi-card_content_footer
                  button.oi-card_content_footer_action Conheça o Start HD


mixin cardsCelular()
  .cards
    .cards_container
      .cards_container_box
        each val, index in ['pre', 'controle', 'pos']
          oi-card
            a(href="#" data-slug=val class="oi-card "+ (val == 'mix' ? 'active': '') )
              .oi-card_header
                h2.oi-card_header_title=val
                h5.oi-card_header_subtitle
                  | 119 Canais 
                  i.heading-bullet
                  |  20 HD
                i.oi-card_header_line
              .oi-card_content
                .oi-card_content_price
                  oi-price(id="card-price-"+val)
                .oi-card_content_list
                  h5.oi-card_content_list_title Você ainda pode adicionar
                  ul.oi-card_content_list_items
                    - if (index == 0)
                      li Ponto extra em HD
                    - else if (index == 1)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital
                    - else if (index == 2)
                      li Ponto extra em HD
                      li HBO, Telecine e mais
                      li Gravador Digital com VOD
                .oi-card_content_footer
                  button.oi-card_content_footer_action Conheça o Start HD
