- bandaLargaImagesPath = '/assets/images/demo/';

.oi-banda-larga_ficha-tecnica

  .oi-banda-larga_ficha-tecnica_row

    .oi-banda-larga_ficha-tecnica_column-left
      h2 Está incluído no plano

    .oi-banda-larga_ficha-tecnica_column-right
      dl
        dt Modem
        dd 1 modem cedido em regime de comodato.
        dd: em Com WiFi a partir do plano de R$ 59,90.
      dl
        dt Modem
        dd 15 mega: Até 15 mbps de download, até 1 mbps de upload.
        dd 5 mega: Até 5 mbps de download, até 512 mbps de upload.
        dd 2 mega: Até 2 mbps de download, até 512 mbps de upload.
        dd Essas são as velocidades máximas. 
        dd Sua velocidade pode variar devido a fatores externos.
        dd: a(href="javascript:void(0);") Consulte a disponibilidade
        dd: a(href="javascript:void(0);") Faça o teste de velocidade
      dl
        dt Oi WiFi
        dd 1 milhão de locais públicos para se conectar a internet.
        dd: a(href="javascript:void(0);") Consulte os pontos Oi WiFi
      dl
        dt Serviços
        dd Antivírus.
        dd Backup online.
        dd Portal Educativo da Oi.
        dd: em Itens inclusos sem alteração do preço nos planos.

      h5 Plano ideal para
      ul
        li
          img(src="#{bandaLargaImagesPath}icon-facebook.png")
          span Usar o Facebook
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-netflix.png")
          span Assistir filmes e séries no Netflix
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-games.png")
          span Jogar online com seus amigos
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-internet.png")
          span Navegar na internet à vontade
        li
          img(src="#{bandaLargaImagesPath}icon-wifi.png")
          span Conectar seu notebook, tablet e smartphone
        li
          img(src="#{bandaLargaImagesPath}icon-youtube.png")
          span Assistir vídeos no YouTube
        li
          img(src="#{bandaLargaImagesPath}icon-whatsapp.png")
          span Conversar no WhatsApp do seu celular
        li
          img(src="#{bandaLargaImagesPath}icon-music.png")
          span Ouvir músicas Online


  .oi-banda-larga_ficha-tecnica_row

    .oi-banda-larga_ficha-tecnica_column-left
      h2 Condições de compra
    .oi-banda-larga_ficha-tecnica_column-right
      dl
        dt Instalação
        dd Gratuita. Em até 7 dias úteis. Seg à sáb. das 8h às 20h.
      dl
        dt Pagamento
        dd Débito Automático ou na conta do seu Fixo da Oi.
      dl
        dt Fidelização
        dd Permanência mínima de 12 meses<sup>1</sup>.
      dl
        dt: strong Área de cobertura
        dd: a(href="javascript:void(0);") link Consulte a disponibilidade
      dl
        dt: strong Vigência da oferta
        dd 01/01/15 até 30/03/15
      dl
        dt: strong Informações legais
        dd: a(href="javascript:void(0);") Contratos e regras de oferta
        dd: a(href="javascript:void(0);") Lista de todos os planos
      hr
      dl
        dt: strong Outros planos
        dd: a(href="javascript:void(0);") Plano de 1 mega
        dd: a(href="javascript:void(0);") Banda Larga (sem fixo)
        dd: a(href="javascript:void(0);") Banda Larga (sem fidelização)
        dd: a(href="javascript:void(0);") Plano Nacional de Banda Larga
        dd: a(href="javascript:void(0);") Banda Larga Rural

  .oi-banda-larga_ficha-tecnica_row

    .oi-banda-larga_ficha-tecnica_column-left
      h2 Ajuda para comprar?
    .oi-banda-larga_ficha-tecnica_column-right
      button Compre com um especialista

  .oi-banda-larga_ficha-tecnica_row
    .oi-banda-larga_ficha-tecnica_legal-text
      | Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. (1) Em caso de desistência, multa de R$ XXX, proporcional ao tempo que faltar para completar a permanência mínima. 





