- bandaLargaImagesPath = '/assets/images/demo/';

.oi-internet-movel_ficha-tecnica


  .product-cheat-sheet_row

    .product-cheat-sheet_column-left
      h2 O que está incluído

    .product-cheat-sheet_column-right
      dl
        dt Franquia
        dd
          h5 Para celular pós-pago, computador e tablet:
          p Ao atingir a franquia acima, a velocidade reduz para até 64kbps.
        dd
          h5 Para celular pré-pago:
          p Ao atingir a franquia acima, a conexão é interrompida.
      dl
        dt Velocidade
        dd 4G e 3G no Rio de Janeiro, RJ.
      dl
        dt Oi WiFi
        dd
          h5 Apenas para celular pós-pago, computador e tablet:
          p 1 milhão de locais públicos para se conectar, Valido por 1 ano.
        dd: a(href="javascript:void(0);") Consulte os pontos Oi WiFi


      h5 Plano ideal para
      ul
        li
          img(src="#{bandaLargaImagesPath}icon-facebook.png")
          span Usar o Facebook
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-netflix.png")
          span Assistir filmes e séries no Netflix
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-games.png")
          span Jogar online com seus amigos
          em Recomendável para os planos de 10 e 15 mega
        li
          img(src="#{bandaLargaImagesPath}icon-waze.png")
          span Navegar na internet à vontade
        li
          img(src="#{bandaLargaImagesPath}icon-instagram.png")
          span Conectar seu notebook, tablet e smartphone
        li
          img(src="#{bandaLargaImagesPath}icon-youtube.png")
          span Assistir vídeos no YouTube
        li
          img(src="#{bandaLargaImagesPath}icon-whatsapp.png")
          span Conversar no WhatsApp do seu celular
        li
          img(src="#{bandaLargaImagesPath}icon-music.png")
          span Ouvir músicas Online


  .product-cheat-sheet_row

    .product-cheat-sheet_column-left
      h2 Agora a internet da oi é 4g
    .product-cheat-sheet_column-right
      figure
        img.left(src="#{bandaLargaImagesPath}img-iphone-5.png")
        figcaption
          h3: strong Velocidades de até 5 mega.
          h4: strong Assista a vídeos, acesse as redes sociais, jogue online e baixe aplicativos.
          div O que você precisa para usar:
          ul
            li Ter um pacote ou plano com 4G.
            li Ter um chip compatível. Consulte se seu chip é compatível em uma Loja Oi.
            li Estar em uma área com cobertura 4G.
            li Ter um aparelho compatível. Confira isto no manual do seu aparelho.
      hr.transparent
      h4: strong Velocidades de até 5 mega.
      ul.phone-list
        li
          figure
            img(src="#{bandaLargaImagesPath}img-ipad-mini.png")
            figcaption
              span Celulares 4G
              span a partir de 12x R$ 108,25
        li
          figure
            img(src="#{bandaLargaImagesPath}img-modem.png")
            figcaption
              span Tablets 4G
              span a partir de 12x R$ 212,42
        li
          figure
            img(src="#{bandaLargaImagesPath}img-windows-phone.png")
            figcaption
              span Minimodem 4G
              span a partir de 12x de 41,58


  .product-cheat-sheet_row

    .product-cheat-sheet_column-left
      h2 Condições de compra
    .product-cheat-sheet_column-right
      dl
        dt Franquia
        dd
          h5 Celular pós-pago:
          p O valor é debitado junto da conta do seu celular.
        dd
          h5 Celular pré-pago:
          p Os pacotes são debitados na recarga. Caso não faça uma recarga em até 60 dias, o pacote é cancelado.
        dd
          h5 Computador e tablet:
          p Boleto bancário.
      dl
        dt Fidelização
        dd
          h5 Só existe para computador e tablet:
          p
            | Valores promocionais para planos com fidelização de 12 meses. Cancelar antes gera multa que varia de acordo com o plano. Para maiores informações, 
            a(href="javascript:void(0);") consulte o regulamento.
      dl
        dt Área de cobertura
        dd Há sinal de internet 4G e 3G no Rio de Janeiro, RJ.
        dd
          p 4G com 5 Mbps de download e 512 Kbps de upload.
          p 3G com 1 Mbps de download e 128 Kbps de upload.
        dd
          | Essas são as velocidades máximas.
          p A velocidade pode variar devido a fatores externos.
        dd
          p: a(href="javascript:void(0);") Consulte a área de cobertura
          p: a(href="javascript:void(0);") Faça o teste de velocidade
      dl
        dt Período de adesão
        dd 01/01/2015 à 30/03/2015
      dl
        dt Informações legais 
        dd
          p Contrato e regras da oferta
          p Lista de todos os planos
      hr
      dl
        dt Outros planos
        dd: a(href="javascript:void(0);") Plano Nacional de Banda Larga


  .product-cheat-sheet_row

    .product-cheat-sheet_column-left
      h2 Ajuda para comprar?
    .product-cheat-sheet_column-right
      button Compre com um especialista


  .product-cheat-sheet_row
    .product-cheat-sheet_legal-text
      | Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. Texto legal a ser definido. (1) Em caso de desistência, multa de R$ XXX, proporcional ao tempo que faltar para completar a permanência mínima. 





